.card{
  padding: 10px;
  width: 80vw;
  height: 80vh;
  font-size: 0.8em;
  font-weight: lighter;
  overflow: scroll;

}

.white{
  background: repeating-linear-gradient(
      to right,
      hsl(0, 0%, 90%) 0px,
      hsl(0, 0%, 90%) 1px,
      transparent 0px,
      transparent 20px
  ),
  repeating-linear-gradient(
      to bottom,
      hsl(0, 0%, 90%) 0px,
      hsl(0, 0%, 90%) 1px,
      transparent 0px,
      transparent 20px
  ),
  hsl(0, 0%, 100%);
}

.continue{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.big{
  margin-left: 15px;
  font-size: 1.3em !important;
}
